/* 三个连续的小轮播图样式 */
* {
    margin: 0;
    padding: 0;
}
.main1 {
    width: 190px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 15px;
}
.main1 .scrolling {
    width: 190px;
    height: 150px;
    position: relative;
}
.main1 .scrolling img {
    width: 100%;
    height: 100%;
}
.main1 img {
    position: absolute;
    top: 0;
    left: 0;
}
.main1 .btn {
    width: 190px;
    height: 150px;
    position: absolute;
    top: 56px;
    left: 0;
}
.main1 .btn>div {
    width: 30px;
    height: 40px;
    background: #fff;
    opacity: 0;
    /* 透明度 */
}
.main1 .btn:hover>div {
    opacity: .35;
}
.main1 .btn #btnright {
    position: absolute;
    top: 0;
    right: 0;
}
.main1 .btn #btnleft {
    position: absolute;
    top: 0;
    left: 0;
}
.main1 .trianger {
    margin-top: 0px;
    width: 0;
    height: 0;
    border-width: 20px 10px;
    border-style: solid;
}
.main1 #btnleft .trianger {
    border-color: transparent #ccc transparent transparent;
    /* 上 右 下 左 */
}
.main1 #btnright .trianger {
    border-color: transparent transparent transparent #ccc;
    margin-left: 12px;
}